*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headers{
    background-color: #939878;
    color: white;
    height: 40px;
    width: 100%;

}

.headers p{
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    justify-items: center;
    padding: 10px ;
}

.headers svg{
    color: black;

}


.menus{
    display: grid;
    grid-template-columns: 2fr 1;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 16px 80px;
}

.menu div{
    display: grid;
    border-radius: 35%;
    width: 32px;
    height: 32px;
    background-color: #CF6F49;
}

.menu a{
    display: grid;
    justify-items: end;
    text-decoration: none;
    color: black;
    display: grid;
}

.menu button{
    width: 100px;
    height: 42px;
    background-color: #E7E8E3;
    border: rgb(221, 221, 221);
    border-radius: 6px;
}

.menu button:nth-last-child(1){
    background-color: #CF6F49;
    color: white;
    width: 159px;
    height: 42px;
}

main section.piska{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px;
}
main section.piska div {
    background-color: whitesmoke;
    display: grid;
}
main section.piska div article:nth-child(2) {
    padding: 10px 80px;
    display: grid;
    row-gap: 20px;

}
main section.piska div article:last-child {
    align-self: end;
    justify-self: end;
}
main section.piska div article div{
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    width: 319px;
    height: 48px;
    column-gap: 16px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #E7E8E3;
    box-shadow:black;
    padding-left: 16px;
}
main section.piska div article div svg{
    
    color: #2A2C1F;
}


.piskaGrizka{
    display: grid;
    grid-template-columns:1fr 1fr;
}
main section.piska div article span{
    font-size: 14px;
}
main section.piska div article h2{
    font-size: 56px;
}
main section.piska div article p{
    font-size: 20px;
    color: #65665C;
}

main section.piska div article input{
    border: none;
    outline: none;
    width: 319px;
    height: 48px;
    border-radius: 6px;
}
main section.piska div article input::placeholder {
    color: #65665C;

}

main section.piska div article a{
    display: grid;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: #CF6F49;
    width: 154px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #CF6F49;
}
